{% extends 'base.html' %}
{% block title %}
    Pets Illustrated
{% endblock title %}
{% block content %}
    <main>
        <div class="main_content_container">
            <h1>Pets Illustrated</h1>
            <h2>Original artwork...by hand</h2>
            <section class="art_container">
                <!-- put each recipe item in a container in order to use flexbox to center it in the column...-->
                {% for art in all_art %}
                    <div>{{ art.name }}</div>
                    <div class="image_container">
                        <img class="default_image" src="{{ art.photo }}">
                        <img class="hover_image" src="{{ art.artwork }}">
                    </div>
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock content %}
