img {
  width: 30vw;
}

.image_container {
  position: relative;
  width: 300px;
  height: 300px;
}

.image_container img {
  position: absolute;
  width: 100%;

  transition: opacity 0.5s ease;
}

.image_container img.hover_image {
  opacity: 0;
}
.image_container:hover img.default_image {
  opacity: 0;
}
.image_container:hover img.hover_image {
  opacity: 1;
}
